/*body样式*/
body {
    margin: 0px;
    height: 8200px;
}

/*导航栏样式*/
header {
    position: relative;
    height: 100px;
    background-color: #000000;
}

/*导航栏-logo样式*/
#headerLogo {
    position: relative;
    display: inline-block;
    left: 50px;
    top: 25px;
}

/*导航栏-导航样式*/
#headerDaohang {
    position: absolute;
    display: inline-block;
    top: 20px;
    margin: 16px 0px 16px 0px;
}

#headerDaohang li {
    position: relative;
    display: inline-block;
    left: 100px;
    padding: 0px 22px 0px 22px;
}

#headerDaohang li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
}

#headerDaohang a:link {
    color: #c8c8c8;
}

#headerDaohang a:visited {
    color: #c8c8c8;
}

#headerDaohang a:hover {
    color: #fffcf9;
}

#headerDaohang a:active {
    color: #fffcf9;
}

#headerDaohang a.active {
    color: #fffcf9;
}

#headerDaohang li .glyphicon-user,#headerDaohang li .glyphicon-shopping-cart {
    font-size: 18px;
}

#headerDaohang li .glyphicon-user {
    margin-left: 40px;
}

#headerDaohang li .glyphicon-shopping-cart{
    margin-right: 20px;
}

#headerDaohang li a  span{
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}

/*购物车弹出框的样式*/
#shoppingTanchukuang {
    position: relative;
    display: none;
    width: 360px;
    height: 320px;
    margin: 0px;
    z-index: 1;
}

#shoppingSanjiaoxin {
    position: relative;
    left: 290px;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fffcf9;

}

#tanchukuang {
    position: relative;
    background-color: #fffcf9;
    width: 360px;
    height: 290px;
    margin: 0px;
    border-radius: 15px;
}

#tanchukuang .glyphicon-shopping-cart {
    position: relative;
    display: inline-block;
    left: 130px;
    top: 50px;
    font-size: 100px;
    color: #919191;
}

#tanchukuang .txt1 {
    position: relative;
    margin: 0px;
    top:70px;
    font-size: 20px;
    text-align: center;
    color: black;
}

#tanchukuang .txt2 {
    position: relative;
    margin: 0px;
    text-align: center;
    top: 80px;
    color: #cccccc;
}

/*内容页样式*/
#content {
    position: relative;
    background-color: #ebebeb;
    height: 8200px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
}

/*内容页导航*/
#daohanglan {
    position: relative;
    float: left;
    background-color: #ebebeb;
    height: 94px;
    width: 1350px;
    padding: 0px 37px 0px 37px;
}

#content .navbar-nav {
    position: relative;
    padding: 37px 0px 0px 0px;
    list-style-type: none;
    left: 37px;
}

#content .navbar-nav li a{
    text-decoration: none;
}

#content .navbar-nav a:link {
    color: #919191;
}

#content .navbar-nav a:visited {
    color: #919191;
}

#content .navbar-nav a:hover {
    color: #1e2ed3;
}

#content .navbar-nav a:active {
    color: #919191;
}

#content .navbar-nav a.active {
    color: #000000;
    font-weight: bold;
}

#content .navbar-nav span {
    padding-right:14px;
    padding-left: 14px;
}

/*内容页搜索栏*/
#content #shousuo {
    position: relative;
    display: inline-block;
    width: 382px;
    height: 32px;
    margin: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fffcf9;
    border: #cccccc 1px solid;
    padding: 1px;
    top: 25px;
    right: -75px;
    overflow: hidden;
}

#content #shousuo button{
    height: 26px;
    width: 44px;
    font-size: 20px;
    border: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #ffffff;
    color: #cccccc;
}

#content #shousuo input{
    position: relative;
    top: -4px;
    height: 26px;
    width: 330px;
    border: 0px;
    outline: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*点击手机时下拉框的样式*/
#shoujixiala {
    position: absolute;
    display: inline-block;
    height: 345px;
    width: 1349px;
    background-color: #ffffff;
    padding: 0px;
    top: 57px;
    left: 0px;
    cursor: pointer;
    display: none;
    z-index: 2;
}



#shoujixiala li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 241px;
    height: 310px;
    left: 70px;
    background-color: #ffffff;
    padding: 0px 40px 0px 40px;
    margin-top: 37px;
    margin-right: -3px;
    border-top:1px solid #e6e6e6;
    padding-top: 37px;
}

#shoujixiala li a {
    text-align: center;
    text-decoration: none;
}

#shoujixiala li a .name {
    margin-top: 30px;
    color: #5e5e5e;
}

#shoujixiala li a .jiage {
    margin: 0px;
    padding: 0px;
    color: #d40000;
    font-weight: bold;
    font-size: 15px;
}


/*轮播图样式*/
#contentLunbotu {
    position: absolute;
    width: 1220px;
    height: 501px;
    top: 93px;
    left: 73px;
    border: #ebebeb 1px solid;
    border-radius: 15px;
    overflow: hidden;
}
#contentLunbotu .carousel-indicators {
    z-index: 2;
}

#contentLunbotu .carousel-indicators li {
    border:1px solid black;
}

#contentLunbotu .inner {
    position: relative;
    width: 1220px;
    height: 499px;
    top: -37px;
    border-radius: 15px;
}

#contentLunbotu img {
    position: absolute;
    display: inline-block;
    float: left;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

.indicators li {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    left: 515px;
    top: 445px;
    border: #919191 1px solid;
    border-radius: 10px;
    margin: 5px;
    z-index: 5;
}

.moveactive {
    background-color: #000000;
}

/*点击来使产品一栏会出现灰色渐隐*/

.bianse_link {
    background: radial-gradient(white ,#cccccc 65%, #a6a6a6 75%);
    cursor: pointer;
}

.bianse_pic {
    overflow: hidden;
    opacity: 1;
}

/*商品栏*/
.changpinglan {
    position: absolute;
    top: 620px;
    left: 73px;
    height: 202px;
    width: 1217.7px;
    font-size: 0px;
    border: #d6d6d6 1px solid;
    border-radius: 15px;
    overflow: hidden;
}

.changpinglink {
    display: inline-block;
    width: 303.9px;
    height: 202px;
}

.changpingpic {
    width: 303.9px;
}

/*热门商品栏*/
.remengshangpinglan {
    position: absolute;
    width: 1220px;
    height: 491px;
    left: 73px;
    top: 850px;
    font-size: 0px;
    background-color: #ffffff;
    border-radius: 15px;

    border: #d6d6d6 1px solid;
}

.remengshangpinglan .remengshangping {
    position: relative;
    width: 1220px;
    height: 60px;
    background-color: #ffffff;

}

.biaoti {
    position: absolute;
    display: inline-block;
    width: 1220px;
    height: 60px;
    font-size: 18px;
    color: #666666;
    padding: 21px 0px 21px 21px;
    background-color: #ffffff;
}

.pre,.nex {
    position: relative;
    float: right;
    display: inline-block;
    height: 34px;
    width: 34px;
    left: -11px;
    border-radius: 34px;
    margin: 10px;
    border: 1px solid #d6d6d6;
    background-color: white;
    outline: none;
}

.remengshangpinglan .remengshangping button .glyphicon {
    font-size: 18px;
    color: #5e5e5e;

}

/*商品样式*/
.rmsp {
    position: absolute;
    width: 1220px;
    left: 0px;
    height: 431px;
    font-size: 0px;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    background-color: white;
}

.rmsp_list {
    position: absolute;
    width: 2474px;
}

.rmsp .small_kuang {
    width: 304px;
}

.small_kuang {
    position: relative;
    display: inline-block;
    width: 304px;
    height: 431px;
    left: -60px;
    overflow: hidden;
    background: radial-gradient(white ,#cccccc 65%, #a6a6a6 75%);
}

.shangping_link {
    display: inline-block;
    background-color: #ffffff;
}

.shangping_pic {
    display: inline-block;
    position: absolute;
    padding: 0px 44px 0px 44px;
    background-color: white;
}

.shangping_name {
    position: relative;
    top: 216.4px;
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: white;
    margin: 0px;
    padding: 20px 0px 20px 0px;
}

.shangping_jieshao {
    position: relative;
    display: inline-block;
    top: 216.4px;
    width: 304px;
    height: 40px;
    background-color: #ffffff;
    color: #919191;
    font-size: 14px;
    text-align: center;
    margin: 0px;
}

.shangping_chuxiao {
    position: relative;
    color: #d40000;
    width: 304px;
    height: 40px;
    top: 176px;
    background-color: #ffffff;
    opacity: 0;
}
.shangping_buttonkuang {
    position: relative;
    top: 176.4px;
    height: 40px;
    background-color: white;
}

.shangping_button {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 15px;
    border: none;
    background-color: #919191;
    left: 112px;
    outline: none;
    border: 2px solid #cccccc;
}

.shangping_button1 {
    background-color: red;
}

.shangping_button2 {
    background-color: #d6d6d6;
}

.shangping_button3 {
    background-color: #000000;
}

.shangpingjiage {
    position: relative;
    top: 167px;
    height: 84px;
    font-size: 18px;
    color: #d40000;
    background-color: #ffffff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
    z-index: 1;
}

.buttonkuang_xia {
    position: relative;
    background-color: white;
    top: 82px;
    height: 84px;
}

.chakanxiangqing {
     position: relative;
     top: 10px;
     left: 103px;
     color: black;
     background-color: white;
     font-size: 14px;
     width: 100px;
     height: 35px;
     z-index: 1;
     border: 1px solid #d6d6d6;
     border-radius: 5px;
     opacity: 0;
 }

.jrgwc_btn {
    position: relative;
    top: 10px;
    right: -50px;
    color: #ffffff;
    background-color: #2135ff;
    font-size: 14px;
    width: 100px;
    height: 35px;
    z-index: 1;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    opacity: 0;
    clear: left;
}


.kuang {
    position: relative;
    width: 1218px;
    height: 920px;
    font-size: 0px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #cccccc;
    background: radial-gradient(white, #cccccc 65%, #a6a6a6 75%);
}

.kuang .small_kuang {
    position: relative;
    display: inline-block;
    left: 0px;
    bottom: 3px;
    border: #cccccc 0.5px solid;
    background: radial-gradient(white , #3a3a3a 65%, #000000 75%);

}

.kuang .small_kuang .shangpingjiage {
    margin: 0px;
    height: 84px;
}

.bigkuang {
    display: inline-block;
    position: relative;
    float: left;
    top: -4px;
    overflow: hidden;
    width: 608px;
    height: 431px;
}

.kuang .biaoti {
    position: relative;
    left: 0px;
    top:  -3px;
    margin: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

.jianguor1 {
    top: 1280px;
    left: 73px;
}

.TNTgzz {
    top: 1310px;
    left: 73px;
}

.gfjx {
    top: 1340px;
    left: 73px;
}

.jhq {
    top: 1370px;
    left: 73px;
}

.ppzb {
    top: 1400px;
    left: 73px;
}

.ppjx {
    top: 1430px;
    left: 73px;
}

.two {
    top: 7170px;
}

/*锤子应用样式*/
.chuiziyinyong {
    position: relative;
    width: 1221px;
    height: 378px;
    bottom:900px;
    left: 73px;
    border-radius: 15px;
    border: 1px #cccccc solid;
    font-size: 0px;
    overflow: hidden;
}

.chuiziyinyong .czyy {
    position: relative;
    width: 1221px;
    height: 61px;
    font-size: 18px;
    border-bottom: #cccccc 1px solid;
    background-color: #f8f8f8;
    overflow: hidden;
}

.chuiziyinyong .czyy p {
    position: relative;
    font-size: 18px;
    top: 20px;
    left: 15px;
}

.qbyy {
    position: relative;
    right: -1100px;
    width: 98px;
    height: 35px;
    font-size: 14px;
    background-color: white;
    border: #cccccc 1px solid;
    border-radius: 5px;
    top: -20px;
}

.chuiziyinyong img {
    border-left: #cccccc 1px solid;


}

.hs img {
    background: radial-gradient(white , #3a3a3a 65%, #000000 75%);
    border: 0px;
}

.czyd img {
    background: radial-gradient(white , #3a3a3a 65%, #000000 75%);
}

.czbq img {
    background: radial-gradient(white , #3a3a3a 65%, #000000 75%);
}

.czkjlt img {
    background: radial-gradient(white , #3a3a3a 65%, #000000 75%);
}

/*论坛精选样式*/
.luntanjinxuan {
    position: relative;
    width: 1219px;
    height: 378px;
    bottom:870px;
    left: 73px;
    border-radius: 15px;
    border: 1px #cccccc solid;
    font-size: 0px;
    overflow: hidden;
}

.ltjx {
    position: relative;
    width: 1220px;
    height: 61px;
    font-size: 18px;
    border-bottom: #cccccc 1px solid;
    background-color: #f8f8f8;
    overflow: hidden;
}

.luntanjinxuan .ltjx p {
    position: relative;
    font-size: 18px;
    top: 20px;
    left: 15px;
}

.qwlt {
    position: relative;
    right: -1100px;
    width: 98px;
    height: 35px;
    font-size: 14px;
    background-color: white;
    border: #cccccc 1px solid;
    border-radius: 5px;
    top: -20px;
}

.ltjxnr img {
    border: 15px;
    width: 304px;
    overflow: hidden;
}

.lt1 img {
    background: radial-gradient(white , #3a3a3a 65%, #000000 75%);
    border: 0px;
}

.lt2 img {
    background: radial-gradient(white , #3a3a3a 65%, #000000 75%);
    border-left: #cccccc 1px solid;
}

.lt3 img {
    background: radial-gradient(white , #3a3a3a 65%, #000000 75%);
    border-left: #cccccc 1px solid;
}

.lt4 img {
    background: radial-gradient(white , #3a3a3a 65%, #000000 75%);
    border-left: #cccccc 1px solid;

}

/*底部样式*/
footer {
    position: relative;
    display: inline-block;
    height: 250px;
    top: -757px;
    font-size: 12px;
}

.footer_top {
    color: black;
}

.footer_link {
    position: relative;
    left: 73px;
    display: inline-block;
    margin-top: 100px;
    margin-right: 70px;
}

.top_title {
    color: black;
}

.top_link {
    display: inline-block;
    padding-top: 7px;
    outline: none;
    list-style: none;
    color: #919191;
}

footer .top_link a:link {
    color: #c8c8c8;
}

 footer .top_link a:visited {
    color: #c8c8c8;
}

footer .top_link a:hover {
    color: #1d33ff;
}

footer .top_link a:active {
    color: #c8c8c8;
}

.top_right {
    position: relative;
    display: inline-block;
    top: -105px;
    left: 1074px;
}

#telphone {
    font-size: 30px;
    color: #5e5e5e;
    margin: 0px;
}

#thsj {
    position: relative;
    left: -10px;
    color: #c3c3c3;
}

#zxbz {
    position: relative;
    width: 102px;
    height: 32px;
    left: 90px;
    font-size: 14px;
    font-weight: normal;
    color: #2135ff;
    background-color: white;
    border: #cccccc 1px solid;
    border-radius: 5px;
}

footer hr {
    position: relative;
    top: -80px;
}

.bottom_left{
    display: inline-block;
    position: relative;
    left: 73px;
    top: -35px;
}

.bottom_left p, .bottom_left a{
    display: inline-block;
    position: relative;

}

.bottom_left p {
    color: #939393;
}

.bottom_right {
    position: absolute;
    right: 73px;
    bottom: -75px;
    border-radius: 15px;
}

.bottom_right select {
    height: 30px;
    width: 100px;
    border: #cccccc 1px solid;
    border-radius: 5px;
    text-align: center;
}

.bottom_right option {
    border-radius: 5px;
    text-align: center;
}

/*悬浮*/
#xuanfu {
    position: fixed;
    top: 0px;
    height: 60px;
    width: 1349px;
    background-color: #f2f2f2;
    border: #cccccc 1px solid;
    border-bottom: none;
    z-index: 5;
}

#xuanfu .navbar-nav {
    position: relative;
    padding: 17px 0px 0px 0px;
    list-style-type: none;
    left: 37px;
    z-index: 20;
}

#xuanfu .navbar-nav li a{
    text-decoration: none;
}

#xuanfu .navbar-nav a:link {
    color: #919191;
}

#xuanfu .navbar-nav a:visited {
    color: #919191;
}

#xuanfu .navbar-nav a:hover {
    color: #1e2ed3;
}

#xuanfu .navbar-nav a:active {
    color: #919191;
}

#xuanfu .navbar-nav a.active {
    color: #000000;
    font-weight: bold;
}

#xuanfu .navbar-nav span {
    padding-right:14px;
    padding-left: 14px;
}

/*悬浮下拉*/
#shoujixiala2 {
    position: fixed;
    display: inline-block;
    height: 345px;
    width: 1349px;
    background-color: #ffffff;
    padding: 0px;
    top: 60px;
    left: 0px;
    cursor: pointer;
    display: none;
    z-index: 5;
    clear: both;
}



#shoujixiala2 li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 241px;
    height: 310px;
    left: 70px;
    background-color: #ffffff;
    padding: 0px 40px 0px 40px;
    margin-top: 20px;
    margin-right: -3px;
    border-top:1px solid #e6e6e6;
    padding-top: 37px;
}

#shoujixiala2 li a {
    text-align: center;
    text-decoration: none;
}

#shoujixiala2 li a .name {
    margin-top: 30px;
    color: #5e5e5e;
}

#shoujixiala2 li a .jiage {
    margin: 0px;
    padding: 0px;
    color: #d40000;
    font-weight: bold;
    font-size: 15px;
}

#tanchukuang2 .glyphicon-shopping-cart {
    position: relative;
    display: inline-block;
    left: 130px;
    top: 50px;
    font-size: 100px;
    color: #919191;
}

/*购物车弹出框2的样式*/
#shoppingTanchukuang2 {
    position: relative;
    display: none;
    width: 360px;
    height: 320px;
    margin: 0px;
    z-index: 5;
}

#shoppingSanjiaoxin2 {
    position: relative;
    left: 290px;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fffcf9;

}

#tanchukuang2 {
    position: relative;
    background-color: #fffcf9;
    width: 360px;
    height: 290px;
    margin: 0px;
    border-radius: 15px;
}

#tanchukuang2 .glyphicon-shopping-cart {
    position: relative;
    display: inline-block;
    left: 130px;
    top: 50px;
    font-size: 100px;
    color: #919191;
}

#tanchukuang2 .txt1 {
    position: relative;
    margin: 0px;
    top:70px;
    font-size: 20px;
    text-align: center;
    color: black;
}

#tanchukuang2 .txt2 {
    position: relative;
    margin: 0px;
    text-align: center;
    top: 80px;
    color: #cccccc;
}

#xuanfu .navbar-nav li .glyphicon-user,#xuanfu li .glyphicon-shopping-cart {
    font-size: 18px;
}

#xuanfu .navbar-nav li .glyphicon-user {
    position: absolute;
    right: -100px;
}

#xuanfu .navbar-nav li .glyphicon-shopping-cart{
    position: absolute;
    right: -240px;
}

#xuanfu .navbar-nav li a  span{
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}